<!DOCTYPE html>
<html> 
	<head>
		<link rel='stylesheet' href="{{url_for('static', filename='css/main.css')}}")>
		<title> Chatterbox </title>
	</head>
	<body>
		<p class='center'> Hello, and welcome to chaterbox the localhosted chat app that I will eventually be able to encrypt in a different application.<br>
	Thank you for coming</p>
		<form method='POST' class='bottom-left'>
			<input type='text' name='text_box' placeholder='Type a MESSAGE'>
			<input type='submit' name='submit'>
		</form>
	</body>
</html>
